/* RESET E IMPOSTAZIONI GENERALI */

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




/* ANCHOR HEADER */

header {
    height: 5vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.h-container {
    /* background-color: green;  */
    height: 80%;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.h-sub-container {
    background-color: #616161d0;
    padding: 5px;
    color: white;
    font-size: 0.8em;
    border-radius: 5px;
}
/* ANCHOR MAIN  */

main {
    height: 86vh;
    background-color: black;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.m-container {
    /* background-color: blue; */
    height: 97%;
    width: 96%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
    overflow: auto;
}

.immagine-main {
    width: 195px;
    /* background-color: aqua; */
    height: 109.68px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    margin-right: 4px;
    margin-bottom: 4px;
} 

.m-sub-container {
    background-color: #616161d0;
    padding: 5px;
    color: white;
    font-size: 0.8em;
    border-radius: 5px;
}

.hunziker {
    background-image: url(immagini/01-hunziker.jpg);
}

.pamela {
    background-image: url(immagini/02-anderson.jpg);
}

.kate {
    background-image: url(immagini/03-kate-perry.jpg);
}

.teron {
    background-image: url(immagini/04-teron.jpg);
}

.vergara{
    background-image: url(immagini/05-vergara.jpg);
}

.steward {
    background-image: url(immagini/06-steward.jpg);
}

.johnson {
    background-image: url(immagini/07-johnson.jpg);
}



/* ANCHOR FOOTER  */

footer {
    height: 9vh;
    background-color: yellow;
    width: 100%;
    display: flex;
}