/* RESET E IMPOSTAZIONI GENERALI */

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
    background-color: black;
}




/* ANCHOR HEADER */

header {
    height: 5vh;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.h-container {
    /* background-color: green;  */
    height: 80%;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.h-sub-container {
    background-color: #616161d0;
    padding: 5px;
    color: white;
    font-size: 0.8em;
    border-radius: 5px;
}

.h-sub-container:hover {
    background-color: #ffffff;
    padding: 5px;
    color: blue;
    font-size: 0.8em;
    border-radius: 5px;
    cursor: pointer;
}
/* ANCHOR MAIN  */

main {
    height: 86vh;
    /* background-color: black; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.m-container {
    /* background-color: blue; */
    height: 97%;
    width: 96%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
    overflow: auto;
}

.immagine-main {
    width: 195px;
    /* background-color: aqua; */
    height: 109.68px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    margin-right: 4px;
    margin-bottom: 4px;
} 

.immagine-main:hover {
    width: 195px;
    /* background-color: aqua; */
    height: 109.68px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    margin-right: 4px;
    margin-bottom: 4px;
    background-image: url(immagini/andrea-fan-club.jpg);
} 

.m-sub-container {
    background-color: #616161d0;
    padding: 5px;
    color: white;
    font-size: 0.8em;
    border-radius: 5px;
}

.m-sub-container:hover {
    background-color: #ffffff;
    padding: 5px;
    color: blue;
    font-size: 0.8em;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.hunziker {
    background-image: url(immagini/01-hunziker.jpg);
}

.pamela {
    background-image: url(immagini/02-anderson.jpg);
}

.kate {
    background-image: url(immagini/03-kate-perry.jpg);
}

.teron {
    background-image: url(immagini/04-teron.jpg);
}

.vergara{
    background-image: url(immagini/05-vergara.jpg);
}

.steward {
    background-image: url(immagini/06-steward.jpg);
}

.johnson {
    background-image: url(immagini/07-johnson.jpg);
}



/* ANCHOR FOOTER  */

footer {
    height: 9vh;
    background-color: rgba(39, 39, 39, 0.87);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-footer {
    display: flex;
}

.contenitore-icona {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
}

.contenitore-icona:hover {
    color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    cursor: pointer;
    background-color: #ffffffcc;
}

.icona-scritta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icona-footer {
    font-size: 1.6em;
    margin-bottom: 6px;
}

#icona-footer-verde {
    font-size: 1.6em;
    margin-bottom: 6px;
    color: greenyellow;
}

#icona-footer-verde:hover {
    font-size: 1.6em;
    margin-bottom: 6px;
    color: rgb(255, 47, 47);
}

.scritta-sotto-icona {
    font-size: 0.7em;
}

.chiusura {
    margin-left: 10px;
    font-size: 0.8em;
}

.end-meeting {
    display: flex;
    align-items: center;
    background-color: rgb(78, 78, 78);
    font-size: 0.7em;
    color: red;
}

.end-meeting:hover {
    display: flex;
    align-items: center;
    background-color: rgb(255, 253, 253);
    font-size: 0.7em;
    color: red;
    cursor: pointer;
}

.end-meeting span {
    margin-left: 20px;
    margin-right: 20px;
}